{% extends "base.html" %}
{% block content %}
<div class="row justify-content-left mt-5">
    <div class="col-md-4">
        <h2>Create Post!</h2>
    </div>
</div>
<div class="row justify-content-left mt-5">
    <div class="col-md-5">
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </div>
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" name="title" class="form-control" id="title" required
                    oninvalid="this.setCustomValidity('Title')" oninput="this.setCustomValidity('')" />
            </div>
            <br>
            <div class="form-group">
                <label for="post">Body</label>
                {{ form.post }}
                {{ form.media }}
            </div>
            <br>
            <div class="form-group">
                <label for="is_draft">Is Draft</label>
                <input type="checkbox" name="is_draft" id="is_draft">
            </div>
            <br>
            <div class="form-group">
                <label for="categories">Categories</label>
                <select name="categories" id="categories">
                    {% for catego in form.categories%}
                    <p>{{ catego }}</p>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="photo">Image Header</label>
                <input type="file" name="image_header" class="form-control" id="image_header">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Save & Create</button>
        </form>
        <br>
    </div>
</div>

{% endblock content %}