{% extends "base.html" %}
{% block content %}
<div class="row justify-content-left mt-5">
   <div class="col-md-5">
      <h2>Edit Post!</h2>
   </div>
</div>
<div class="row justify-content-left mt-5">
   <div class="col-md-5">
      {% if messages %}
      <div class="alert alert-danger" role="alert">
         {% for message in messages %}
         <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
      </div>
      {% endif %}
      <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" name="title" class="form-control" value="{{ form.title.value }}" id="title" required
               oninvalid="this.setCustomValidity('Title')" oninput="this.setCustomValidity('')" />
         </div>
         <div class="form-group">
            <label for="post">Body</label>
            {{ form.post }}
            {{ form.media }}
         </div>
         <div class="form-group">
            <label for="is_draft">Is Draft</label>
            <input type="checkbox" name="is_draft" checked="{{ form.is_draft.value }}" id="is_draft">
         </div>
         <div class="form-group">
            <label for="categories">Categories</label>
            <select name="categories" id="categories">
               {% for catego in form.categories%}
               <p>{{ catego }}</p>
               {% endfor %}
            </select>
         </div>
         <div class="form-group">
            <label for="date_of_birth">Date of birth</label>
            <input type="text" name="date_of_birth" class="form-control"
               value="{% if request.user.profile.date_of_birth %}{{ profile_form.date_of_birth.value }}{% endif %}"
               id="date_of_birth">
         </div>
         <div class="form-group">
            <label for="photo">Photo</label>
            {% if request.user.profile.photo %}
            <a href="{{ request.user.profile.photo.url }}">{{ request.user.profile.photo.url }}</a>
            {% else %}
            <input type="file" name="photo" class="form-control"
               value="{% if request.user.profile.photo %}{{ profile_form.photo.value }}{% endif %}" id="photo">
            {% endif %}
         </div>
         <br>
         <button type="submit" class="btn btn-primary">Login</button>
      </form>
   </div>
</div>

{% endblock content %}